# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov

# Build outputs
dist
build
storybook-static

# Misc
.DS_Store
*.pem
*.log
*.tgz

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
Thumbs.db
